<div class="wrapper">
  <form [formGroup]="loginForm" (ngSubmit)="OnSubmit()">
    <p>LOGIN</p>
    <div *ngIf="incorrect">
      <div class="alert">
          Email or password is incorrect.
      </div>
    </div>
    <br>
    <!--email-->
    <div class="form-element">
      <!--alert box start-->
      <div>
        <div
          class="alert"
          *ngIf="Email.invalid && (Email.dirty || Email.touched)"
        >
          <div *ngIf="Email.errors?.required">Email is required!</div>
          <div *ngIf="Email.errors?.email">Invalid email!</div>
        </div>
      </div>
      <!--alert box end-->
      <input
        formControlName="email"
        autocomplete="off"
        id="email"
      />
      <label for="email">Email</label>
    </div>

    <br />

    <!--password-->
    <div class="form-element">
      <!--alert box start-->
      <div>
        <div
          class="alert"
          *ngIf="Password.invalid && (Password.dirty || Password.touched)"
        >
          <div *ngIf="Password.errors?.required">Password is required!</div>
        </div>
      </div>
      <!--alert box end-->
      <input
        formControlName="password"
        id="Passwd"
        type="password"
      />
      <label for="Passwd">Password</label>
    </div>

    <br />

    <button type="submit">Login</button>

    <p class="register"><a routerLink="../register">New? Register here now!</a></p>
  </form>
</div>
