<div class="wrapper">
    <div>
        <h1>ADD NEW PRODUCT</h1>
        <div>
            <select #product>
                <div></div>
                <option value="">--Select product--</option>
                <option value="laptop">Laptop</option>
                <option value="laptop-bag">Laptop bag</option>
            </select>
        </div>
        <div class="form" *ngIf="product.value === 'laptop'">
            <app-laptop-form></app-laptop-form>
        </div>
        <div class="form" *ngIf="product.value === 'laptop-bag'">
            <app-laptop-bag-form></app-laptop-bag-form>
        </div>

        <div>
            <span *ngIf="message">
                {{message}}
            </span>
        </div>

    </div>
</div>