<div>
    <select #cpu (change)="ModifyFilter('cpu', cpu.value)">
        <option class="option" value="">-cpu-</option>
        <option *ngFor="let item of cpu$ | async" value="{{item}}">{{item}}</option>
    </select>

    <select #graphic (change)="ModifyFilter('graphic', graphic.value)">
        <option value="">-graphic-</option>
        <option *ngFor="let item of graphic$ | async" value="{{item}}">{{item}}</option>
    </select>

    <select #screenSize (change)="ModifyFilter('screenSize', screenSize.value)">
        <option value="">-screen size-</option>
        <option *ngFor="let item of screenSize$ | async" value="{{item}}">{{item}}</option>
    </select>
</div>